{% extends 'main.html' %}
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

    <div class="home-container">
        <div>
            Browse Topics
            <hr>
            <a href="{% url 'home' %}" class="active">All </a>
            {% for topic in topics %}
                <div>
                    <a href="{% url 'home' %}?q={{ topic.name }}">{{ topic}}</a>
                </div>
            {% endfor %}
        </div>

        <div>
            <h3>{{ room_count }} rooms available</h3>
            <a href="{% url 'create_room' %}">Create Room</a>
            <div>
                {% for room in rooms %}
                    <div>
                        <a href="{% url 'update_room' room.id %}">Edit</a>
                        <a href="{% url 'delete_room' room.id %}">Delete</a>
                        <span>@{{ room.host.username }}</span>
                        <h3>{{ room.id }}: <a href="{% url 'room' room.id %}">{{ room.name }}</a></h3>
                        <small>{{ room.topic.name }}</small>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}