{% extends 'main.html' %}
{% block content %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        <a href="{% url 'home' %}">Back</a>
    </form>
</div>

{% endblock content %}