<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>note taking application</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock content %}
</body>
</html>