
{% extends 'main.html' %}

<title>Home</title>



{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>



    <div>
        <h5>{{room_count}} rooms availlable</h5>
        <a href="{% url 'create-room' %}">Create Room</a>

        {% include 'base/feed_component.html' %}

    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>
{% endblock content %}

