{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
  <form method="POST" action="">
      {% csrf_token %}
      <label>Username:</label>
      <input type="text" name="username" placeholder="Enter Username" />

      <label>Password:</label>
      <input type="password" name="password" placeholder="Enter Password" />

      <input type="submit" value="Login" />
  </form>

  <p>Haven't Sign up yet?</p>
  <a href="{% url 'register' %}">Sign up</a>
</div>


{% else %}

<div>
  <form method="POST" action="">
      {% csrf_token %}
      {{form.as_p}}

      <input type="submit" value="Register" />
  </form>
  <p>Already Signed Up yet?</p>
  <a href="{% url 'login' %}">Login</a>
</div>


{% endif %}

{% endblock content %}
