{% extends 'main.html' %}

{% block content %}

<main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'base/topics_component.html' %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
            {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
               Police detective in the French Sûreté and patriotic Frenchman.
               Special Trained in Observation, special eye for details,
               Sound legal knowledge, Photography skills,Communication skills,
                Confidentiality, Organization, Responsiveness, Martial Arts and
               IT Expert in Scripting, Controls and frameworks, Intrusion detection,
               Network security control, Operating systems, Incident response and Cloud.
               Loves Nature, Board Games, Spy Novels, Cooking and Gardening.
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by Inspector Clousaeu</a>
            </h2>
          </div>
        </div>
        {% include 'base/feed_component.html' %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'base/activity_component.html' %}
      <!-- Activities End -->
    </div>
  </main>
{% endblock content %}
