{% extends "main.html" %}
{% block content %}


<div>
    <div>
        {% for room in rooms %}
        <div>
            <h3>{{room.id}}: <a href="/room/{{room.id}}">{{room.name}}</a></h3>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}