<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Project Django</title>
</head>
<body>

    {% include 'navbar.html' %}
    {% block content %}

    {% endblock content %}

</body>
</html>