<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Django</title>
</head>
<body>

{% include 'navbar.html' %}
{% block content %}

{% endblock content %}

</body>
</html>