{% extends 'main.html' %}

{% block content %}

<h1>Home Template</h1>

<div>

    <a href="{% url 'create-room' %}">Create Room</a>
    <hr>
    <div>

        {% for room in rooms %}
        <div>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            <span>@{{ room.host.username }}</span>
            <h1>{{room.id}}: <a href="{% url 'room' room.id %}">{{room.name}}</a></h1>
            <smal>{{ room.topic.name }}</smal>
            <hr>
        </div>
        {% endfor %}

    </div>



</div>


{% endblock content %}
