{% extends 'main.html' %}
{% block content %}

<style>
    .home_container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home_container">

    <div>
        <h3>Browse Topics</h3>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>

        {% endfor %}
    </div>


    <div>
        <h3>{{room_count}} rooms available</h3>
        <a href="{% url 'create_room' %}">Create Room</a>
        <hr>
        <div>
            {% for room in rooms %}
            <div>
                <span>@{{room.host.username}}</span>
                <a href="{% url 'update_room' room.id %}">Edit</a>
                <a href="{% url 'delete_room' room.id %}">Delete</a>
                <h3>{{room.id}}: <a href="/room/{{room.id}}">{{room.name}}</a></h3>
                <small>{{room.topic.name}}</small>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}