{% extends 'main.html' %}
{% block content %}

<style>
    .room_container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room_container">
    <div>
        <h3>{{room.name}}</h3>
        <p>{{room.description}}</p>

        <div class="comment_wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for message in room_messages %}
            <div>
                <small>{{message.user}} {{message.created|timesince}}</small>
                <p>{{message.body}}</p>
                <hr>

            </div>

            {% endfor %}

        </div>

        {% if request.user.is_authenticated %}
        <div class="message_form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="write your message here ..." />
            </form>

        </div>
        {% endif %}
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
    </div>

</div>
{% endblock content %}