{% extends 'main.html' %}
{% block content %}

<p>Are you sure you want to delete "{{task.body}}"?</p>

<a href="{% url 'tasks' %}" >Cancel</a>

<form method="POST" action="">
	{% csrf_token %}
	<input type="submit" name="Confirm">
</form>

{% endblock content %}